@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: 'Lato', sans-serif;
}

header,
#history {
  min-height: 100vh;
  min-height: 100lvh;
  position: relative;
}

header {
  background: url('CT_SkillTest_v3-assets/Image.jpeg') no-repeat;
  background-size: cover;
}

.losangeles, .mountains {
  text-align: center;
}

.main-nav {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 4rem;
}

.sticky-nav-container {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky-nav {
  color: #414f6b;
}

.main-nav ol { 
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-style: italic;
  font-weight: 500;
  margin: 0;
}

.main-nav a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

nav[class="sticky-nav main-nav"] li {
  border-bottom: 1px solid #414f6b;
}

.main-nav li {
  border-bottom: 1px solid #fff;
}

#history {
  background: url('CT_SkillTest_v3-assets/Bg1.jpeg') no-repeat;
  background-size: cover;
}

main h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 11.3rem;
  color: rgba(65, 79, 107, 0.5);
  position: relative;
  margin: 0;
}

#history h1 {
  max-width: 1344px;
  margin: 0 auto 0;
  padding: 3rem 0 0 0.5rem;
}

#history h1 span {
  bottom: 3.5rem;
  left: 10.5rem;
}

h1 span {
  font-family: 'Oswald', sans-serif;
  font-size: 2.7rem;
  color: #414f6b;
  position: absolute;
}

#history p {
  max-width: 1344px;
  margin: -1.8rem auto 0;
  padding: 0 6rem;
  font-size: 1.33rem;
  line-height: 2rem;
}

#team {
  display: flex;
  flex-direction: column;
  height: 1056px;
}

.team-heading-band {
  background-color: #fff;
}

.team-heading-container {
  display: flex;
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 4rem;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

#team p {
  font-size: 1.33rem;
  line-height: 2rem;
  margin: 0;
}

#team h1 span {
  bottom: 3.5rem;
  left: 12rem;
}

.team-nav-container {
  /* height: 2.5rem; */
  background-color: #414f6b;
  color: #b0b4be;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Oswald', sans-serif;
}

.team-tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.7rem;
  /* padding: 0.5rem; */
}

.team-tab div {
  padding: 0 1.5rem;
}

#home-tab-pane,
#flush-collapseOne {
  background: url('CT_SkillTest_v3-assets/photo-1417021423914-070979c8eb34.jpeg') no-repeat;
  background-size: cover;
  /* background-position: 0px -400px; */
  width: 100%;
  height: 100%;
}

#mountain2-tab-pane,
#flush-collapseTwo {
  background: url('CT_SkillTest_v3-assets/photo-1414449381078-c7768b8f19b8.jpeg') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#teamTab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#climbTabContent {
  display: flex;
  height: 100%;
}

.table-container {
  max-width: 1344px;
  margin: 8.5rem auto 0;
  padding-left: 3rem;
}


table {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.33rem;
}

th {
  font-family: 'Oswald', sans-serif;
  font-size: 2.7rem;
  color: #414f6b;
  padding: 0.8rem 3.5rem;
}

table td:nth-child(1) {
  padding: 0 3.5rem;
}

table td:nth-child(2) {
  padding: 0 3.5rem 0 0;
}

table tr:nth-child(4) td {
  padding-top: 2rem;
}

table tr:last-child td {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  height: 4.625rem;
  background-color: #414f6b;
  display: flex;
  align-items: center;
}

.footer-container {
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #63769d;
  font-weight: 600;
  font-style: italic;
  padding: 0 1rem;
}

.footer-container p {
  margin: 0;
}

.copyright-container {
  display: flex;
}

/* carousel */

.carousel-container {
  background-color: rgba(65, 79, 107, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 1rem 2.5rem 1.5rem;
}

.carousel {
  max-width: 1344px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#teamAccordion {
  display: none;
}

/* Tab links styling */

.nav-item > div.nav-link {
  color: #b0b4be;
  padding: 0.2rem 1.5rem;
  border: none;
  border-radius: 0;
}
.nav-item > div.nav-link.active {
  border-radius: none;
  color: #414f6b;
  background-color: #b0b4be;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media all and (max-width: 768px) {
  html {
    font-size: 11.5px;
  }

  .main-nav {
    height: fit-content;
    padding: 0.5rem 1rem;
  }

  .team-heading-container {
    flex-direction: column;
    padding: 0 1.5rem;
    gap: 0rem;
  }

  #team p {
    font-size: 1.33rem;
    line-height: 2rem;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  footer {
    padding: 0.5rem 0;
    height: fit-content;
  }

  .copyright-container {
    display: block;
  }

  #teamAccordion {
    display: block;
  }

  #team {
    height: fit-content;
    padding: 1rem 0;
  }

  #teamTab {
    display: none;
  }

  .largeIcon img {
    width: 70%;
  }
}